body {
  background: #181a1b;
  color: #f3f3f3;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
@font-face {
  font-family: "Press Start 2P";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segment7";
  src: url("./assets/fonts/G7_Segment_7a.ttf") format("truetype");
  font-display: swap;
}

html {
  overflow-x: hidden;
}
section {
  border-radius: 12px;
  margin: 32px auto;

  padding: 80px 32px 64px 32px;
  transition: background 0.3s, color 0.3s;
}
@media (min-width: 768px) {
  .desktop-scroll-margin {
    scroll-margin-top: 180px;
  }
}

@media (max-width: 700px) {
  section {
    padding: 60px 8px 40px 8px;
    margin: 16px 0;
    max-width: 98vw;
  }
  h1 {
    font-size: 1.2rem;
  }
}

.tetris-preloader-fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
